<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 chart">
    <h1> Sample </h1>
      <canvas baseChart width="400" height="200" [datasets]="datasets" [labels]="labels" [options]="options" [colors]="lineChartColor"
          [chartType]="lineChartType"></canvas>
      <div class="log-area" id="log-area">
          <ul>
              <li *ngFor="let log of logs" class="logs" [innerHTML]="log">
              </li>
          </ul>
      </div>
  </div>
  <div class="col-md-4"></div>
</div>
